---
import Layout from './Base.astro';
import Form from '../components/Form.astro';

export let content: {
    description: string,
    section: string,
    title: string,
}
---

<Layout title={content?.title || 'Contact'} description={content?.description || 'Contact us'} section={content?.description || 'contact'}>
    <h1>{content?.title || 'Contact'}</h1>

    <slot />

    <Form />
</Layout>