---
import Layout from './Base.astro';

export let title: string;
export let description: string;
export let section: string;
---

<Layout title={title} description={description} section={section}>
    <h1>{title}</h1>

    <slot />
</Layout>